.App {
  text-align: center;
}

.App-Contents {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
  padding: 10px;
}

.Navbar {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.loginForm {
    display: flexbox;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    font-size: calc(10px + 1vmin);
}
